body,
* {
  margin: 0;
  padding: 0;
  scrollbar-width: none;
}
input:focus {
  outline: none;
}
.container {
  width: 100vw;
  height: 100vh;
  position: relative;
}
.header_bookmark_container {
  display: flex;
  div {
    cursor: pointer;
    padding: 5px;
    font-size: 20px;
    font-weight: 800;
    color: white;
    margin: 0px 5px;
    background-color: #807f7f;
    border-radius: 5px;
  }
}
.modal {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  top: 0%;
  left: 0%;
  background-color: rgba(0, 0, 0, 0.6);
  .modal_body {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
    width: 700px;
    height: 700px;
    border-radius: 30px;
    .modal_img {
      width: 100%;
      height: 65%;
      background-size: cover;
      background-position: center;
      border-radius: 30px 30px 0 0px;
      font-size: 40px;
      font-weight: 800;
      display: flex;
      color: white;
      .modal_title {
        margin-top: 55%;
        margin-left: 5%;
      }
    }

    .modal_text_container {
      width: 100%;
      height: 35%;
      .modal_text {
        display: flex;
        color: white;
        flex-direction: column;
        margin-left: 5%;
        margin-top: 1%;
        margin-right: 5%;
        .modal_detail_when {
          font-size: 20px;
        }
        .modal_detail_main_text {
          height: 100px;
          border-radius: 20px;
          background-color: #2c2c2c78;
          padding: 10px 15px;
          overflow-y: scroll;
          margin: 15px 0px;
        }
      }
    }
    .modal_btn {
      display: flex;
      position: absolute;
      top: 2%;
      font-size: 40px;
      color: white;
      right: 5%;
      .modal_bookmark_btn,
      .modal_close_btn:hover {
        cursor: pointer;
      }
      .modal_close_btn {
        margin-left: 20px;
      }
    }
  }
}
.header {
  width: 100%;
  height: 200px;
  background-color: #2c2c2c;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .header_text {
    color: aliceblue;
    font-size: 35px;
    font-weight: 800;
  }
  .header_search {
    margin: 12px 0px;
    width: 500px;
    height: 35px;
    border-radius: 10px;
    padding: 2px 10px;
    border: none;
  }
  .header_bookmark {
    color: aliceblue;
    background-color: none;
  }
}
.main_container {
  background-color: #b4b4b4;
  width: 100%;
  height: calc(100vh - 200px);
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: center;
  .main_text {
    font-size: 25px;
    font-weight: 700;
    margin: 30px 0px;
  }
  .content_container {
    overflow-y: scroll;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .content {
      width: 200px;
      height: 300px;
      background-color: white;
      margin: 20px;
      border-radius: 10px;

      img {
        width: 200px;
        height: 300px;
        border-radius: 10px;
      }
    }
    .content:hover {
      cursor: pointer;
    }
  }
}
.main_more {
  padding: 20px 50px;
  font-size: 25px;
  font-weight: 700;
}
.main_more:hover {
  cursor: pointer;
}
